<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
</head>
<body>
    <div class="admin-container">
        <aside class="sidebar">
            <h2>Admin Panel</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('admin_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('admin_all_product') }}">All Product</a></li>
                    <li><a href="{{ url_for('admin_add_product') }}">Add Product</a></li>
                    <li><a href="{{ url_for('admin_orders') }}">View Orders</a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header>
                <h1>Dashboard</h1>
            </header>
            <section>
                {% block content %}{% endblock %}
            </section>
        </main>
    </div>
</body>
</html>
