{% extends "admin_dashboard.html" %}
{% block content %}
<div class="orders-container">
    <h2>All Products</h2>
    <table class="orders-table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Course Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Description</th>
                <th>level</th>
                <th>classes</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>₹{{ product.price }}</td>
                    <td><img src="{{ product.image_url }}" width="40px"/></td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.level }}</td>
                    <td>{{ product.classes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}