<!doctype html>
<html lang="en"> 
<head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
</head> 
<body>
  <section> 
    {% for _ in range(128) %}
      <span></span>
    {% endfor %}

    <div class="signin"> 
      <div class="content"> 
        <h2>Admin Login</h2> 
        <div class="form"> 
          <form action="{{ url_for('admin_login') }}" method="post">
            <div class="inputBox"> 
              <input type="text" id="username" name="username" required> 
              <i>Username</i> 
            </div> 
            <div class="inputBox"> 
              <input type="password" id="password" name="password" required> 
              <i>Password</i> 
            </div> 
            <div class="inputBox"> 
              <input type="submit" value="Login"> 
            </div> 
          </form>
        </div> 
      </div> 
    </div> 
  </section> 
</body>
</html>
