{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero has-bg-image" id="home" aria-label="home"
        style="background-image: url('/static/images/hero-bg.svg')">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 section-title">
              Enhance Your Kids <span class="span">Future!</span> With NeevCode
            </h1>

            <p class="hero-text">
              Welcome to NeevCode – where young minds embark on a coding journey crafted for the future! Tech doesn’t have to feel like a different language
            </p>

            <a href="/courses" class="btn has-before">
              <span class="span">Find courses</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>

          </div>

          <figure class="hero-banner">

            <div class="img-holder one" style="--width: 270; --height: 300;">
              <img src="/static/images/hero-banner-1.jpg" width="270" height="300" alt="hero banner" class="img-cover">
            </div>

            <div class="img-holder two" style="--width: 240; --height: 370;">
              <img src="/static/images/hero-banner-2.jpg" width="240" height="370" alt="hero banner" class="img-cover">
            </div>

            <img src="/static/images/support-mail.svg" width="380" height="190" alt="" class="shape hero-shape-1">

            <img src="/static/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">

          </figure>

        </div>
      </section>





      <!-- 
        - #KEY Features
      -->

      <section class="section category" aria-label="category">
        <div class="container">

          <p class="section-subtitle">WHY US?</p>

          <h2 class="h2 section-title">
            Unlock Your 
             <span class="span">Coding Potential</span>  with NeevCode!
          </h2>

          <p class="section-text">
            What sets us apart is our innovative curriculum meticulously designed by a child psychologist, ensuring an educational experience that resonates with each child’s unique learning style. We take pride in the fact that our curriculum has been shaped with the insights of young minds students, ensuring it’s not just cutting-edge but also inherently relatable.
          </p>

          <ul class="grid-list">

            <li>
              <div class="category-card" style="--color: 170, 75%, 41%">

                <div class="card-icon">
                  <img src="/static/images/category-1.svg" width="40" height="40" loading="lazy"
                    alt="Online Degree Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Expert-Led Learning</a>
                </h3>

                <p class="card-text">
                  Learn from amazing teachers and super-smart mentors who are here to help you shine!</p>

                <!-- <span class="card-badge">20 Classes</span> -->

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 351, 83%, 61%">

                <div class="card-icon">
                  <img src="/static/images/category-2.svg" width="80" height="80" loading="lazy"
                    alt="Non-Degree Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Flexible Scheduling</a>
                </h3>

                <p class="card-text">
                  Create a learning schedule that fits perfectly into your busy week, just like magic!
                </p>
                <br>

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 229, 75%, 58%">

                <div class="card-icon">
                  <img src="/static/images/category-3.svg" width="40" height="40" loading="lazy"
                    alt="Off-Campus Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Engaging Curriculum</a>
                </h3>

                <p class="card-text">
                  Jump into exciting lessons filled with fun activities and cool challenges that make learning super fun!
                </p>

              </div>
            </li>

            <li>
              <div class="category-card" style="--color: 42, 94%, 55%">

                <div class="card-icon">
                  <img src="/static/images/category-4.svg" width="60" height="60" loading="lazy"
                    alt="Hybrid Distance Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Real-World Projects</a>
                </h3>

                <p class="card-text">
                  Apply your skills to real-world projects and gain practical experience in coding.
                </p>


              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">

            <div class="img-holder" style="--width: 520; --height: 370;">
              <img src="/static/images/hero-banner-1.jpg" width="520" height="370" loading="lazy" alt="about banner"
                class="img-cover">
            </div>

            <!-- <img src="/static/images/about-shape-1.svg" width="360" height="420" loading="lazy" alt=""
              class="shape about-shape-1"> -->

            <img src="/static/images/about-shape-2.svg" width="371" height="220" loading="lazy" alt=""
              class="shape about-shape-2">

            <img src="/static/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
              class="shape about-shape-3">

          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">
              Empowering <span class="span">learning</span> Through Student-Led Innovation
            </h2>

            <p class="section-text">
              What sets us apart is our dedication to providing opportunities for students and freshers to work with us, fostering a culture of innovation and growth
            </p>

            <ul class="about-list">

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Student-Centric Approach</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Online Remote Learning</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Cutting-Edge Curriculum</span>
              </li>
              <br>
              <a href="/about" class="btn has-before">
                <span class="span">Read More</span>
      
                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>

            </ul>

            <img src="/static/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
              class="shape about-shape-4">

          </div>

        </div>
      </section>





      <!-- 
        - #COURSE
      -->

      <section class="section course" id="courses" aria-label="course">
        <div class="container">

          <p class="section-subtitle">Popular Courses</p>

          <h2 class="h2 section-title">Start Your <span class="span">Child's</span> Future with NeevCode!</h2>
          
          <p>At NeevCode, students learn topics like cybersecurity, robotics, game development, and web development and more. We focus on crucial concepts like cyber hygiene and password management, ensuring they're well-prepared for the tech industry</p>
          <br>
          <ul class="grid-list">

            <li>
              <div class="course-card">

                <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                  <img src="/static/images/courses/cybersecurity.jpg" width="370" height="220" loading="lazy"
                    alt="Build Responsive Real- World Websites with HTML and CSS" class="img-cover">
                </figure>

                <div class="abs-badge">
                  <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                  <span class="span">2 weeks</span>
                </div>

                <div class="card-content">

                  <span class="badge">Beginner</span>

                  <h3 class="h3">
                    <a href="#" class="card-title">Getting Started
                      With Cybersecurity for Beginner</a>
                  </h3>

                  <!-- <div class="wrapper">

                    <div class="rating-wrapper">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <p class="rating-text">(4.5/5 Rating)</p>

                  </div> -->

                  <!-- <data class="price" value="29">$29.00</data> -->
                  <p>This course introduces students to explore the fundamentals of cybersecurity focusing on crucial concepts.</p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                      <span class="span">15 Classes</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Solo</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="course-card">

                <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                  <img src="/static/images/courses/robotics-2.jpg" width="370" height="220" loading="lazy"
                    alt="Java Programming Masterclass for Software Developers" class="img-cover">
                </figure>

                <div class="abs-badge">
                  <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                  <span class="span">3 Weeks</span>
                </div>

                <div class="card-content">

                  <span class="badge">Intermediate</span>

                  <h3 class="h3">
                    <a href="#" class="card-title">Robotics</a>
                  </h3>

                  <!-- <div class="wrapper">

                    <div class="rating-wrapper">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <p class="rating-text">(4.5 /5 Rating)</p>

                  </div> -->

                  <!-- <data class="price" value="49">$49.00</data> -->
                  <p>This Course introduces studnets to fascinating world of robotics and learn about design, program and operation.

                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                      <span class="span">20 Classes</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Solo</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="course-card">

                <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                  <img src="/static/images/courses/gamedev.png" width="370" height="220" loading="lazy"
                    alt="The Complete Camtasia Course for Content Creators" class="img-cover">
                </figure>

                <div class="abs-badge">
                  <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                  <span class="span">4 Weeks</span>
                </div>

                <div class="card-content">

                  <span class="badge">Intermediate</span>

                  <h3 class="h3">
                    <a href="#" class="card-title">Game Development</a>
                  </h3>
<!-- 
                  <div class="wrapper">

                    <div class="rating-wrapper">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <p class="rating-text">(4.9 /5 Rating)</p>

                  </div> -->

                  <!-- <data class="price" value="35">$35.00</data> -->
                  <p>This engaging course introduces students to the exciting world of game development and make games from scratch.</p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                      <span class="span">30 Classes</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Solo</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

          </ul>

          <a href="/courses" class="btn has-before">
            <span class="span">Browse more courses</span>

            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
          </a>

        </div>
      </section>





      <!-- 
        - #VIDEO
      -->

      <!-- TESTIMONIAL VIDEO HERE -->

      <!-- <section class="video has-bg-image" aria-label="video"
        style="background-image: url('/static/images/video-bg.png')">
        <div class="container">

          <div class="video-card">

            <div class="video-banner img-holder has-after" style="--width: ; --height: ;">
              <img src="/static/images/video-banner.jpg" width="970" height="550" loading="lazy" alt="video banner"
                class="img-cover">

              <button class="play-btn" aria-label="play video">
                <ion-icon name="play" aria-hidden="true"></ion-icon>
              </button>
            </div>

            <img src="/static/images/video-shape-1.png" width="1089" height="605" loading="lazy" alt=""
              class="shape video-shape-1">

            <img src="/static/images/video-shape-2.png" width="158" height="174" loading="lazy" alt=""
              class="shape video-shape-2">

          </div>

        </div>
      </section> -->





      <!-- 
        - #STATE  OTHER CONTENT FOR LATER
      -->

      <!-- <section class="section stats" aria-label="stats">
        <div class="container">

          <ul class="grid-list">

            <li>
              <div class="stats-card" style="--color: 170, 75%, 41%">
                <h3 class="card-title">10+</h3>

                <p class="card-text">Courses</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 351, 83%, 61%">
                <h3 class="card-title">32.4K</h3>

                <p class="card-text">Class Completed</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 260, 100%, 67%">
                <h3 class="card-title">100%</h3>

                <p class="card-text">Satisfaction Rate</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 42, 94%, 55%">
                <h3 class="card-title">354+</h3>

                <p class="card-text">Top Instructors</p>
              </div>
            </li>

          </ul>

        </div>
      </section>
 -->




      <!-- 
        - #Why US
      -->

      <section class="section blog has-bg-image" id="blog" aria-label="blog"
      style="background-image: url('/static/images/video-bg.png')">
<div class="container">
  <!-- <p class="section-subtitle">NEEVCODE</p> -->
  <h2 class="h2 section-title">Become an instructor with NeevCode</h2>
  <p class="instructor-info">Are you a student looking for internship opportunities?
     Consider becoming an instructor with NeevCode! As an instructor, 
     you'll have the chance to share your knowledge and passion for coding with children, 
     helping them learn valuable skills in a supportive environment. 
     Apply now and join our team of dedicated instructors!</p>
     <br>
     <div class="internship">
      <a href="/contact" class="btn has-before">
        <span class="span">Your Details</span>
        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
      </a>
     </div>
     <img src="/static/images/video-shape-1.png" width="1089" height="605" loading="lazy" alt=""
     class="shape video-shape-1">

   <img src="/static/images/video-shape-2.png" width="158" height="174" loading="lazy" alt=""
     class="shape video-shape-2">
     
     
</div>
</section>




      <!-- FAQ -->

     <br><br>

      
        




{% endblock %}